/* Container */

container {
  /* width: 1000px; */
  /* height: 2500px; */
}
/* NAVBAR */
nav {
  height: 80px;
  width: 100%;
  background-color: #6f6af7;
  padding: 1rem;
  z-index: 1000;
  justify-content: space-around;
  top: 0%;
  left: 0%;
  /* z-index: 1000; */
}
.img {
  margin-left: 200px;
  /* float: right; */
  height: 10px;
  width: 10px;
}
/* DAPPR HEADING */
h2 {
  font-family: delius unicase;
  line-height: 75.81px;
  text-align: left;
  color: white;
  font-weight: bold;
  margin-bottom: 5rem;
}
/* NAVBAR UL */
ul {
  list-style-type: none;
  display: flex;
  color: white;
  font-size: large;
  margin-right: 100px;
  justify-content: space-between;
}

li {
  margin-left: 100px;
  font-size: large;
  font-weight: 400;
}
a {
  text-decoration: none;
  /* overflow: none; */
}

/* SEARCH INPUT */
input {
  background-color: white;
  border-radius: 50px;
  color: #000;
  /* margin-left: 10000px; */
  position: relative;
  margin-left: 50px;
  background-image: url(search.png);
  background-position-x: right;
  background-repeat: no-repeat;
  border: 1px solid white;
  cursor: pointer;
}

/* MID CONTENT */
.content {
  width: 1450px;
  height: 600px;
  margin-top: 200px;
  gap: 0px;

  /* display: flex; */
  opacity: 0px;
  float: left;
}
/* IMAGE */
#src {
  width: 500px;
  height: 507px;
  gap: 0px;
  border-radius: 20px 20px 20px 20px;
  float: left;
  margin-left: 70px;
}
/* TEXT AREA */
.text-box {
  width: 800px;
  height: 507px;
  gap: 0px;
  border-radius: 20px 20px 20px 20px;
  background: #e5d8ff;
  float: left;
  box-shadow: 3px 5px 27px 0px #00000040 inset;
  border: 6px solid #ffffff;
}
/* TEXT AREA PARA */
.para-1 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 51.82px;
  text-align: left;
  margin: 25px;
  margin-right: 20px;
  color: grey;
}

/* CENTER */
.square {
  height: 145.48px;
  width: 1450px;
  margin-top: 100px;
  float: left;
  margin-left: 50px;
}
/* CENTER CLASS */
.square-box {
  height: 145.48px;
  width: 280px;
  border-radius: 11px;
  float: left;
  box-shadow: 0px 9px 31px 0px #00000066;
  background-color: #929dff;
  margin: 0px 80px 50px 0px;
}

/*  CENTER CLASS PARA */
p {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 50px 0px 0px 20px;
  letter-spacing: 0.04em;
  text-align: left;
  color: white;
}

/* FOOTER */
footer {
  width: 1350px;
  height: 600px;
  float: left;
  margin-top: 250px;
  background-color: #483eff;
  margin-left: 70px;
  border-radius: 20px;
}

/* FOOTER BUTTON */
.footer-content {
  height: 500px;
  width: 500px;
  margin-right: 20px;
  float: left;
  margin-top: 20px;
}

/* FOOTER BUTTON CONTENT */
.box {
  width: 397px;
  height: 133px;
  margin-top: 50px;
  margin-left: 50px;
  gap: 0px;
  border-radius: 22px;
  opacity: 0px;
  float: left;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 7rem;
  font-weight: 700;
  border: 5px solid white;
}

/* INTRO AREA */
.intro {
  height: 550px;
  width: 800px;
  background-color: white;
  float: right;
  margin-right: 25px;
  margin-top: 30px;
  border-radius: 20px;
}

/* INTRO HEADING */
h3 {
  font-size: large;
  text-align: left;
  margin-left: 60px;
}

.social-media
 {
  height:220px;
  width: 70px;
  /* border: 1px solid; */
  float: left;
margin-top: 20px;
margin-left: 10px;
position: fixed;
left: 92%;
top:30%;

 }

/* SOCIAL MEDIA  */
.image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
   align-content: flex-start;
  float: right;
  border: 2px solid;
  margin-top: 7px;
  height: 70px;
  width: 70px;
  /* position: fixed; */
  background-image: url(Whats.png);
  background-position-y: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

/* NEXT CORNER BUTTON */
button {
  height: rem;
  width: 7rem;
  font-size: larger;
}
/* INTRO PARA */
#para {
  font-size: large;
}

/* chatbot */
.chatbot {
  height: 150px;
  width: 150px;
  float: right;
  background-image: url(Group.png);
  background-repeat: no-repeat;
  background-position-y: 50% auto;
  border-radius: 100px;
  bottom:.001%;
  left: 85%;
  background-size: cover;
  margin-inline-end: auto;
  position: fixed;
  cursor: pointer;
}
